.imagenes{
    padding-left: 250px;
    margin: auto;
}

.tituloLibro{
    padding-left: 100px;
    font-size: 30px;

}

.autorEstilo{
    color: black;
    font-size: 20px;
}
.autorEstilo:hover{
    color:#ff2020;

}
.autorEditorial{
    font-size: 20px;
}

.BotonAgregar{
    width: 80px;
    color: #ff2020;
    padding: 10px;
    border-radius: 14px 14px 14px 14px;
    -moz-border-radius: 14px 14px 14px 14px;
    -webkit-border-radius: 14px 14px 14px 14px;
    border: 1px solid #ff2020;
}
.BotonAgregar:hover{
    color: white;
    background-color: #ff2020;
}

.separador{
    border: 0; 
    border-top: 1px solid #999; 
    border-bottom: 1px solid #333; 
    height:0;
    width: 85%;
}

.tamañoImagen{
    width: 250px;
    height: 400px;

}

.descripcion{
    width: 85%;
    text-align: justify;
    margin: auto;
}

.PriceTag{
    font-size: 24px;
}

.ContenedorPrecio{
    padding-left: 70px;
    padding-top: 0px;
}

.headerproductos{
    padding-left: 500px;
}

.detallesproducto{
    padding-left: 500px;
    padding-top: 15px;
    padding-bottom: 15px;
}